@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    --font: "Poppins", sans-serif;
    --color: #5f66f5;
    --bg-color: #ffffff;
}

body {
    font-family: var(--font);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
}

.event-container{
    margin-top: 80px;
}

.event-container{
    margin-bottom: 12px;
}

.event-tittle{
    font-size: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.completed{
    opacity: 0.3;
}


.swiper {
    width: 100%;
}

.swiper-wrapper {
    width: 100%;
    height: 35rem;
    display: flex;
    align-items: center;
}

.card {
    width: 20rem;
    height: 90%;
    background-color: #fff;
    border-radius: 2em;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
    padding: 2em 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 2em;
}

.swiper-slide:not(.swiper-slide-active) {
    filter: blur(1px);
}

.card_image {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 5px solid var(--color);
    padding: 3px;
    margin-bottom: 2em;
}

.card_image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card_content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card_title {
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
    top: 0.2em;
}

.card_name {
    color: var(--color);
}

.card_text {
    text-align: center;
    font-size: 1rem;
    margin: 1em 0;
}

.card_btn {
    background-color: var(--color);
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
}
@media only screen and (max-width: 452px) {
    .event-tittle{
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }
} 