@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@500;600&display=swap');

::-webkit-scrollbar {
    display: none;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: rgb(75, 129, 154);
}
.client-text1{
    position: absolute;
    margin-right: 884px;
    font-size: 45px;
}
.client-text2{
    position: absolute;
    font-size: 110px;
}
.client-text3{
    position: absolute;
    margin-left: 872px;
    font-size: 52px;
}